extends layout
block content
    .w3-card-4
            header.w3-container.w3-teal
                h1 Contrato #{contrato.idcontrato}

            .w3-container
            .w3-ul.w3-card-4(style="width:50%")
                    li
                        b Id: 
                        span= contrato.idcontrato 
                    li
                        b Objeto: 
                        span= contrato.objetoContrato
                    li
                        b Anuncio: 
                        span= contrato.nAnuncio 
                    li
                        b Tipo procedimiento: 
                        span= contrato.tipoprocedimiento
                    li
                        b Data Publicacao:
                        span= contrato.dataPublicacao
                    li
                        b Data Celebracao:
                        span= contrato.dataCelebracaoContrato
                    li
                        b Preco Contratual:
                        span= contrato.precoContratual
                    li
                        b Prazo Execucao :
                        span= contrato.prazoExecucao
                    li
                        b NIPC Entidade Comunicante:
                        span= contrato.NIPC_entidade_comunicante
                    li
                        b Entidade Comunicante:
                        span= contrato.entidade_comunicante
                    li
                        b Fundamentacao
                        span= contrato.fundamentacao
    
    

            footer.w3-container.w3-teal
                address
                    span Gerado por aluno::Dario em #{date} - [
                    a(href="/") Voltar
                    span ]